*{
    padding: 0px;
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}
html{
  scroll-behavior: smooth;
}
 body{
  position: relative;
  min-height: 110%;
  background-color: #f1e9c7;
}
#info{
  width: 100%;
  height: auto;
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #e9e9e9;
}
#aboutmeTxt{
  font-size: 16px;
  width:500px;
  
  margin-bottom:30px;  
 
}
ul{
  color:black;
}

div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}
#freeQutoeBtn{
  width:200px;
  height:60px;
  background-color: #f2d566;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  color: black;
}
#freeQutoeBtn:hover{
  cursor: pointer;
}
ul{ 
     list-style-type: none;
}


.HideBigPic{
  display: none;;
}

.flex-container {
    display: flex;
   
    flex-direction: row;
    width: 100%;
  }
  


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
}
input[type=text], select {
  width: 50%;
  padding: 6px 10px;
  margin: 4px 0;

  border: 1px solid #ccc;
  border-radius: 4px;

}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}




footer{
   position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; 
  text-align: center;

  font-weight: bold;
}
.contactlabel{
  display: inline-block; margin-bottom: 10px ; margin-top: 10px
}
.contactInput{
  float: right; 
}
@media only screen and (min-width: 1000px) {
  #mainpic{
height: auto;
margin:0px; 
    width: 50%;

object-fit: contain;

  }
  #sndpic{
    height: auto;
margin:0px; 
    width: 50%;

object-fit: contain;
  }
  #form{
    margin: auto;
    padding: 20px;
    width: 700px;
    height: 500px;
    background-color: #f2f2f2;
  }

  #pc-nav{
    float: right;
    display: none;
    margin-top:5px;
    color: black;
  }
  li{
    color:white;
    display:inline-block; 
    width:140px;
  }
  #pc-nav a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 700;
  }
  #pc-nav a:visited{
    color: black;
  }

  #seviceContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width:100%;
  }

  .mobileServiceColumn{
    display: flex; 
    flex-direction: row;
    width:30%;
  }

 
  #FAQ{
    display: none;
  }
  #photos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
  }
  #floatingInfo{
    margin: 0;
    position: absolute;
    top: 400px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    z-index: 1;
  
  }
  #dogimg{
    margin: auto;
    display: block;
    height:400px;
    width:300px;
  }
  #mobiledogimg{
    width:360px;  
    height:500px; 

  }
 

  header{
    background-color: white;
    height:100px;
    z-index: 2;
    width:80%;
    border-bottom:1px solid #99a3a6;
    
  }
  .flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  
  }
  #mobile-menu{
    display: none;
  }

  #pc-nav{
     display: inline-block;
  }
  
  #aboutme{
    padding:15px;
    width: 50%;
    height: 100%;
  
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0.9 ;
   background-color: #e9e9e9;
 }
  #contactForm{
  padding:15px;
    width: 30%;
    height: 100%;
  
    opacity: 0.9 ;
   background-color: #d8d5d5;
   -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
  }
  #seviceCon{
     display: flex;
     justify-content: center;
     flex-direction: row;
  }



}


  @media only screen and (max-width:999px) {
    #info{
      flex-direction: column-reverse;
      font-size:16px;
    }
    #aboutmeTxt{
      width:80%;
      font-size: 16px;
    
    }
    #mobile-menu{
      display: block;
    }
    #sndpic{
 display: none;
    }
    #mainpic{
      margin:0px; display: block;     width: 100%;
         height: 80%;
         object-fit: contain;
        }
   
    #contactForm{
      padding: 20px;
    
      height: auto;
      opacity: 0.9;
      background-color: #d2d2d2;
      border-left: 1px solid black;

  
    }
  
    #mobile-menu{
      margin-top: 5px;
      float: right;
    }
    #form{
      margin: auto;
      padding: 20px;
      width: 90%;
      height: 500px;
      background-color: #f2f2f2;
    }
    #seviceContainer{
       display: flex;
       justify-content: center;
       flex-direction: column;
    }
    .mobileServiceColumn{
      display: flex; flex-direction: column;margin-bottom: 25px;
    }
    #floatingInfo{
      margin: 0;
      position: absolute;
      top:400px;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);    z-index: 1;
      width:80%;
    }
  
    #pc-nav{
      float: right;
      display: block;

    }
    #dogimg{
      display: block;
      margin:auto;
      max-width: 100%;
    }
     header{
      background-color: white;
      height:100px;
      z-index: 2;
      width:80%;
      border-bottom:1px solid #99a3a6;
    }
  
    .flex-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
    
    }



    #mobiledogimg{
      display: block;
      width:100%;
      height: 100%;
    }
    #mobile-nav{
    
      position: fixed;
      z-index: 2;
      width: 100%;
      height:auto;
      background-color: white;
      left: 0;
      top :100px;
      border-right:1px solid black;
      border-bottom: 1px solid black;
    
    }
    
    
    #mobile-nav a{
       color:black;
       display: block;
       width: 200px;
       height: 45px;
       margin-left: 12px;
       text-decoration: none;
       
    }
    .pcimg{
      display: none;
    }
 
 
  
  }


  @media only screen and (max-width:300px) {
    #freeQutoeBtn{
      width:100px;
      height:60px;
      background-color: #f2d566;
      font-size: 20px;
      border: none;
      border-radius: 15px;
      color: black;
      margin-top: 0px;
    }
    
    .contactInput{
      float: none;
    }
    #dogimg{
     
      display: none;
    }
    #logo{
      margin: 0px;
      width:200px;
      height:70px
    } 
 
    #floatingInfo{
      margin: 0;
      position: absolute;
      top: 400px;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);    z-index: 1;
    
    }
    #mobile-menu{
      margin-top: 0px;
      margin-right: 0px;
     
    } 
   
  }